/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-yellow: #d8871c;
    --color-bordo: #401221;
    --color-white: #ffffff;
    --color-gray: #6f6f6f;
    --color-text-not-active: #b8b8b8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    padding: 0 120px;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    gap: 100px;
}
header a {
    font-size: x-large;
}
footer {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    margin-top: 40px;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
span::-moz-selection,
p::-moz-selection,
a::-moz-selection {
    background-color: #3f6900;
}
h1::selection,
h2::selection,
h3::selection,
span::selection,
p::selection,
a::selection {
    background-color: #3f6900;
}

h1 {
    font-size: xxx-large;
    font-weight: 900;
}
h2 {
    font-size: xx-large;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: x-large;
    color: var(--color-text-not-active);
}
.bordo_letter {
    color: var(--color-bordo);
}
.yellow_letter {
    color: var(--color-yellow);
}

/* .page::before{
    content: url('/shadow-red.svg');
    position: absolute;
    top: -200px;
    left: 0;
    z-index: -1;
}
.page::after{
    content: url('/shadow-orange.svg');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
} */

.shadow_red{
    background-color: var(--color-bordo);
    width: 40%;
    height: 50%;
    margin-top: 5%;
    position: absolute;
    background-position-x: right;
    background-size: cover;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 20% 0 0 40%;
    filter: blur(200px) brightness(0.9);
}

.shadow_orange{
    background-color: var(--color-yellow);
    width: 40%;
    margin-top: 20%;
    height: 60%;
    position: absolute;
    background-position-x: right;
    background-size: cover;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 20% 0 0 40%;
    filter: blur(200px) brightness(0.5);
}

.home__main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.home__title {
    font-size: 80px;
    font-weight: 900;
    color: var(--color-yellow);
    text-align: center;
}
.home__title_index {
    z-index: -2;
}
.home__image_mouse {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home__marquee{
  position: relative;
  right: 120px;
  width: calc(100% + 240px) !important;
}
.home__marquee_text {
    font-size: 150px;
    color: var(--color-bordo);
}
/* .home__update, .blog {
    padding: 0 120px;
} */
.home__update_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 50px; */
}
.home__update_info-text p {
    margin-bottom: 8px;
}
.home__update_mini-title {
    font-size: xxx-large;
    color: var(--color-text-not-active);
}
.home__image_spider {
    width: 100%;
    height: 100%;
}

.about {
    display: flex;
    justify-content: space-around;
}
.about__layout_title {
    margin-bottom: 40px;
}
.about__contacts,
.about__team {
    text-align: center;
    width: 20%;
}
.about__contacts_img,
.about__team_img {
    width: 90%;
    height: 80%;
}
.about__team_img:hover,
.about__contacts_img:hover {
    animation: 0.7s infinite alternate image;
}

@keyframes image {
    from {
        scale: 1;
    }
    to {
        scale: 1.05;
    }
}

.blog__title_block {
    margin-top: 100px;
    margin-bottom: 100px;
}
.blog__title_img {
    position: absolute;
    top: 100px;
}
.blog__post_item {
    display: flex;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.contacts__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 160px 0;
}
.contacts__link p{
    color: var(--color-yellow);
}
.contacts__link_span{
    color: var(--color-white);
}
.contacts__bottom_block{
    display: flex;
    justify-content: center;
}
.contacts__bottom_img{
    cursor: pointer;
}

.team__programmer{
    display: flex;
    justify-content: flex-end;
}
.team__designer{
    display: flex;
}
.team__people_block{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team__img_pointer{
    cursor: pointer;
}